#HUD{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #06D6A0;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
}
p{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
}
.button{
  background-color: #501537;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  padding: 5px;
}
.button:hover{
  background-color: white;
  color: #501537;
}
h1{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 45px;
}
body{
  background-color: #06D6A0;
}
